# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/
/lib
/libs
.run

# Ignore Maven output dirs
/target
/AdvancedTeleport-Bukkit/target

# Ignore bogus files
*.iml
*.class